Gen ai tools

Exploring Kaggle

EDA

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("neurocipher/heartdisease")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'heartdisease' dataset.
Path to dataset files: /kaggle/input/heartdisease

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("/kaggle/input/heartdisease/Heart_Disease_Prediction.csv")
df

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [ ]:
df.shape

(270, 14)

In [ ]:
df.columns

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [ ]:
df.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

# Task
Perform an exploratory data analysis (EDA) on the "Heart_Disease_Prediction.csv" dataset. This EDA will include inspecting data types and unique values, calculating descriptive statistics, visualizing the distributions of numerical features ('Age', 'BP', 'Cholesterol', 'Max HR', 'ST depression') and categorical features ('Sex', 'Chest pain type', 'FBS over 120', 'EKG results', 'Exercise angina', 'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'), analyzing the target variable 'Heart Disease' and its relationship with other features, and computing and visualizing the correlation matrix for numerical features. The final task will be to summarize the key findings from this EDA.

## Initial Data Inspection

### Subtask:
Inspect the data types of each column and re-confirm the absence of missing values to ensure data quality and readiness for analysis. Additionally, check for unique values in categorical columns.

**Reasoning**:
To inspect the data types of each column, I will use the `.info()` method, which provides a concise summary of the DataFrame including column names, non-null values, and data types.

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   EKG results              270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 29.7+ KB
None

**Reasoning**:
To reconfirm the absence of missing values, I will use `df.isnull().sum()` which will show the count of null values for each column.

In [ ]:
print('Missing values per column:\n', df.isnull().sum())

Missing values per column:
 Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

**Reasoning**:
To understand the categories within each categorical column, I will print the unique values for 'Sex', 'Chest pain type', 'FBS over 120', 'EKG results', 'Exercise angina', 'Slope of ST', 'Number of vessels fluro', 'Thallium', and 'Heart Disease'.

In [ ]:
categorical_cols = ['Sex', 'Chest pain type', 'FBS over 120', 'EKG results', 'Exercise angina', 'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease']

for col in categorical_cols:
    print(f"Unique values for '{col}': {df[col].unique()}")

Unique values for 'Sex': [1 0]
Unique values for 'Chest pain type': [4 3 2 1]
Unique values for 'FBS over 120': [0 1]
Unique values for 'EKG results': [2 0 1]
Unique values for 'Exercise angina': [0 1]
Unique values for 'Slope of ST': [2 1 3]
Unique values for 'Number of vessels fluro': [3 0 1 2]
Unique values for 'Thallium': [3 7 6]
Unique values for 'Heart Disease': ['Presence' 'Absence']

## Descriptive Statistics

### Subtask:
Calculate and display descriptive statistics (mean, median, standard deviation, min, max, etc.) for numerical columns to understand their central tendency, dispersion, and shape of distribution.

**Reasoning**:
To calculate and display descriptive statistics for the specified numerical columns, I will use the `.describe()` method on the DataFrame, selecting only the relevant columns.

In [ ]:
numerical_cols = ['Age', 'BP', 'Cholesterol', 'Max HR', 'ST depression']
descriptive_stats = df[numerical_cols].describe()
print('Descriptive statistics for numerical columns:\n', descriptive_stats)

Descriptive statistics for numerical columns:
               Age          BP  Cholesterol      Max HR  ST depression
count  270.000000  270.000000   270.000000  270.000000      270.00000
mean    54.433333  131.344444   249.659259  149.677778        1.05000
std      9.109067   17.861608    51.686237   23.165717        1.14521
min     29.000000   94.000000   126.000000   71.000000        0.00000
25%     48.000000  120.000000   213.000000  133.000000        0.00000
50%     55.000000  130.000000   245.000000  153.500000        0.80000
75%     61.000000  140.000000   280.000000  166.000000        1.60000
max     77.000000  200.000000   564.000000  202.000000        6.20000

## Distribution of Numerical Features

### Subtask:
Visualize the distribution of key numerical features ('Age', 'BP', 'Cholesterol', 'Max HR', 'ST depression') using histograms and box plots to identify their patterns, outliers, and skewness. Ensure plots have appropriate labels and titles.

**Reasoning**:
To visualize the distribution of each numerical feature, I will iterate through the `numerical_cols` list and generate a histogram and a box plot for each feature, ensuring clear titles and labels for better interpretability.

In [ ]:
for col in numerical_cols:
    fig, axes = plt.subplots(1, 2, figsize=(12, 5))

    sns.histplot(df[col], kde=True, ax=axes[0])
    axes[0].set_title(f'Distribution of {col}')
    axes[0].set_xlabel(col)

    sns.boxplot(y=df[col], ax=axes[1])
    axes[1].set_title(f'Box Plot of {col}')
    axes[1].set_ylabel(col)

    plt.tight_layout()
    plt.show()